<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- PhotoHunt API servlet mappings -->
  <servlet>
    <servlet-name>ThemesServlet</servlet-name>
    <servlet-class>com.google.plus.samples.photohunt.ThemesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemesServlet</servlet-name>
    <url-pattern>/api/themes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotosServlet</servlet-name>
    <servlet-class>com.google.plus.samples.photohunt.PhotosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotosServlet</servlet-name>
    <url-pattern>/api/photos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImagesServlet</servlet-name>
    <servlet-class>com.google.plus.samples.photohunt.ImagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImagesServlet</servlet-name>
    <url-pattern>/api/images</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.google.plus.samples.photohunt.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/api/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VotesServlet</servlet-name>
    <servlet-class>com.google.plus.samples.photohunt.VotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotesServlet</servlet-name>
    <url-pattern>/api/votes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendsServlet</servlet-name>
    <servlet-class>com.google.plus.samples.photohunt.FriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsServlet</servlet-name>
    <url-pattern>/api/friends</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectServlet</servlet-name>
    <servlet-class>com.google.plus.samples.photohunt.ConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectServlet</servlet-name>
    <url-pattern>/api/connect</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DisconnectServlet</servlet-name>
    <servlet-class>com.google.plus.samples.photohunt.DisconnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectServlet</servlet-name>
    <url-pattern>/api/disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InviteRedirect</servlet-name>
    <jsp-file>/invite.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviteRedirect</servlet-name>
    <url-pattern>/invite.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoRedirect</servlet-name>
    <jsp-file>/photo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoRedirect</servlet-name>
    <url-pattern>/photo.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
</web-app>